<!DOCTYPE html>
<html lang="fi">
<head> 
    <meta charset="UTF-8">
    <title>Hae poistettava opettaja</title>
    <link rel="stylesheet" href="/tyylit/tyylit.css" type="text/css">
</head>
<body>
    <h1>Poista opettaja</h1>
 
   <form action ="/poistaOpettaja" method="post">
     
    <p>
        <label>Syötä opettajaID:
            <input type="text" name="opettajaID">
        </label>
    </p>
    <button type="submit">Hae</button>
    </form>
     
    <p>
        <a href="/"><button>Hakusivulle</button></a>
    </p>
</body>
</html>