<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="2; url=/">
    <title>Virhe</title>
    <link rel="stylesheet" href="/tyylit/tyylit.css" type="text/css">
</head>
<body>
    <h1>Virhe</h1>
    <p><%= viesti %></p>
</body>
</html>