.auto img{
    height: 60px;
}

.eiloydy{
    color: red;
}

fieldset {
    border-color: lightgray;
    border-style: ridge;
    border-width: thin;
    width: 250px;
}

table {
    border-collapse: separate;
}

table, td, th {
    border: 2px solid black;
    padding: 0.7em;
}

thead {
    background-color:  yellowgreen;
}

tbody>tr:nth-child(even) {
    background-color: royalblue;
}

button {
    width: 200px;
    height: 30px;
    margin: 5px 50px;
    background-color: lime;
    font-weight: bold;
}

input {
    margin: 10px 0px;
}